@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nasa-blue: #0032A0;
  --nasa-red: #E4002B;
}

@media screen and (min-height: 620px) {
  body {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  html {
    height: 100%;
  }

  main {
    height: 680px;
  }
}

.grey-background {
  background-color: #f1f1f1;
}

.modal-animation {
  animation: fade-in 350ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
