@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-height: 620px) {
  body {
    height: 100%;
  }

  html {
    height: 100%;
  }

  main {
    height: 100%;
    justify-content: space-evenly;
  }
}

.grey-background {
  background-color: #f1f1f1;
}
